	 <html>
		<head>
			<link REL="SHORTCUT ICON" HREF="../static/img/favicon.ico">
			<title>mbed clients</title>
			<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
			<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
			<script type="text/javascript">

			</script>
		</head>
	 <body>
	 	<div class="container">
	 		<h3><img src="../static/img/NXP_logo.png">  Here is all the information about board button</h3>
			<hr>
			<h5><strong>Clinet board ID: {{pointid}}</strong>  <strong><a href="./" style="float: right">返回主页</a></strong></h5><hr>
			<p> The button contains one property (click count). When `handle_button_click` is executed, the counter updates.</p>
			<p id="countt">click count <strong>{{cntNumber}}</strong> times</p>

	 	</div>
	 </body>
	 </html>